        <!--Start Footer-->
        <footer>
            <!--Start Footer Top-->
            <div class="footer-top">
                <!--Start Container-->
                <div class="container">
                    <!--Start Row-->
                <!--Start Footer Links-->
                <div class="footer-links wow fadeInUp animated" data-wow-delay=".4s" style="visibility: visible;-webkit-animation-delay: .4s; -moz-animation-delay: .4s; animation-delay: .4s;">
                   <ul>
                       <li ><a href="index.html">Home</a></li>
                        <li > <a  href="aboutus.html">About Us</a></li>
                        <li ><a  href="services.html">Services</a></li>
                        <li ><a  href="#Solutions">Solutions</a></li>
                        <li ><a href="contactus.html">Contact Us</a></li>
                   </ul>
               </div>
               <!--End Footer Links-->
               <p class="color-white text-center"> © Copy 2025. All Rights Reserved By <a class="p-color" href="#">&nbsp;www.asifvisas.com</a></p>
               <!--End Row-->
                </div>
                <!--End Container-->
            </div>
            <!--End Footer Top-->


            <!--Start Click To Top-->
            <div class="click-to-top">
                <a href="index.html#body-wrapper" class="js-scroll-trigger"><i class="fas fa-angle-double-up"></i></a>
            </div>
            <!--End Click To Top-->
        </footer>
        <!--End Footer-->