<section class="bannerWindow wow fadeInDown animated" id="home" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
    <div class="container-fluid">
        <div class="row">
        <div id="banner" class="owl-carousel owl-theme " >
            
            <div class="item " >
                <img src="../../assets/asif-banner.jpg">
                <div class="bannerItem banner2" >
                    <div class="textBg">
                        <h2 class="bannerHd">Start Your U.S. Visa Journey Now!</h2>
                        <div class="bannerTxt">Get expert help to simplify your application process</div>
                        <div class="btnCov"><a href="#" class="readMoreBtn transition" >Read More</a></div>
                    </div>
                </div>
            </div>
            <div class="item" >
                    <img src="../../assets/Liberty-statue.jpg">
                    <div class="bannerItem banner2" >
                        <div class="textBg">
                            <h2 class="bannerHd">U.S. Visas</h2>
                            <div class="bannerTxt">U.S. Department of State - BUREAU of Consular Affairs</div>
                            <div class="btnCov"><a href="#" class="readMoreBtn transition" >Read More</a></div>
                        </div>
                    </div>
            </div>
            <!-- <div class="item" >
                      <img src="images/EnterpriseApplication.jpg">
                    <div class="bannerItem banner2" >
                         <div class="textBg">
                            <h2 class="bannerHd">Enterprise Application</h2>
                            <div class="bannerTxt">Create powerful applications that are ready to accelerate<br>productivity and scalability to the next level.</div>   
                            <div class="btnCov"><a href="#" class="readMoreBtn transition" >Read More</a></div>
                         </div>
                     </div>
            </div> -->
            
        </div>
    </div>
</div>
</section>
<section class="home-banner-container container-width facilio-homepage-banner" >
    <div class="container">
        <div class="home-banner wow fadeInDown animated" id="Services" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                <h1 class="home-banner-H">Start Your U.S. Visa Journey Now!</h1>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
             <div class="row">
             	<!--Start Service Single-->
                <div class="col-sm-6 col-lg-4 col-md-4 wow fadeInDown animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                    <a href="#"> 
                        <div class="service-single moduleLetf ">
                            <h3 class="p-color1 "><img src="../../assets/Consulting-visa.jpg" alt="icon" > Visa consultancy</h3>
                            <p>Visitors to the United States require nonimmigrant visas... </p>
                        </div>
                    </a>
                </div>
                    
                    <!--End Service Single-->
                <div class="col-sm-6 col-lg-4 col-md-4 wow fadeInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                    <a href="#"> 
                        <div class="service-single moduleLetf ">
                            <h3 class="p-color1 "><img src="../../assets/visa-form-160.jpg" alt="icon" > DS-160 Application Processing </h3>
                            <p>We specialize in processing the Nonimmigrant Visa Electronic Application (DS-160) form with speed and accuracy... </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-lg-4 col-md-4 wow fadeInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                    <a href="#"> 
                        <div class="service-single moduleLetf ">
                            <h3 class="p-color1 "><img src="../../assets/Visa-Early-Appointmen.jpg" alt="icon" >U.S. Visa Early Appointment </h3>
                            <p>Struggling to find an earlier U.S. visa appointment? We’ve got you covered! Our dedicated team of 11 experts monitors the U.S.  </p>
                        </div>
                    </a>
                </div>
                <div style="display: block; text-align: center; width: 100%;">
                    <div class="homebtnCov" style="float: none; width: 200px; margin:auto"><a href="services.html" class="readMoreBtn2 transition">More Services</a></div>
                </div>

            </div>
        </div>
    </div>
</div>
</section>
<section id="about" class="bg-gray">
            <!--Start Container-->
    <div class="container">
                <!--Start Row-->
        <div class="row">
            <div class="col-lg-6  wow fadeInLeft animated animated" style="visibility: visible;">
                <div class="about-img">
                    <img src="../../assets/Consulting-visa.jpg" class="img-fluid" alt="Image">
                </div>
            </div>
                    <!--Start About Content-->
            <div class="col-lg-6 wow fadeInRight animated animated" style="visibility: visible;">
                <div class="about-content">
                    <h2>Get or replace a passport</h2>
                    <div class="internetdev">
                        <ul>
                           <li> I'm applying for the first time as an adult</li>

                           <li> Children under age 16</li>
                            
                           <li>Children age 16 and 17</li>
                            
                           <li>I'm an adult renewing by mail</li>
                            
                           <li> I'm an adult renewing online</li>
                            
                           <li>Report it lost or stolen</li>
                            
                           <li>Change my name or correct an error</li>
                        </ul>
                    </div>
                </div>
                <div class="btnCov"><a href="AFC-Internet-Development.html" class="readMoreBtn transition">Read More</a></div>
            </div>
                    <!--End About Content-->
                          <!--Start About Image-->
            
                    <!--End About Image-->
        </div>
                <!--End Row-->
    </div>
            <!--End Container-->
</section>
<section  class="bg-gray2 projectStat2">
    <!--Start Container-->
<div class="container">
        <!--Start Row-->
<div class="row">
      
            <!--Start About Content-->
    <div class="col-lg-6 wow fadeInLeft animated animated animated" style="visibility: visible;">
        <div class="about-content">
            <h2><span style="color: #333;">Prepare to apply</span></h2>
            <div class="why-us-features">
            <ul>
                <li>
                    Compare a passport book and card
                   
                </li>
                <li>
                    Find processing times
                </li>
                <li>
                    Take a photo
                </li>
                <li>
                    Calculate your fees
                </li>
                <li>
                Fill out your form and print it</li>
                    
                <li>Get citizenship evidence </li>
                <li> 
                    Get photo identification</li>
            </ul>
        </div>
        </div>
        <div class="homebtnCov"><a href="AFC-Internet-Development.html#FRProduct" class="readMoreBtn2 transition">Read More</a></div>
    </div>
            <!--End About Content-->
                  <!--Start About Image-->
    <div class="col-lg-6  wow fadeInRight animated animated animated" style="visibility: visible;">
        <div class="about-img">
            <img src="../../assets/Consulting-visa.jpg" class="img-fluid" alt="Image">
        </div>
    </div>
            <!--End About Image-->
</div>
        <!--End Row-->
</div>
    <!--End Container-->
</section>
<section class="industryBox" id="Solutions">
    <div class="container-fluid">
        	<div class="row">
            	<div class="col-sm-12 col-lg-8 innerWindow wow fadeInDown animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                <div class="industryBg"></div>
               
                <div class="industryInner " >
            	<h4 class="isHd">What is a U.S. Visa?</h4>
            <ul class="isLinks ">              <li>A citizen of a foreign country who seeks to travel to the United States generally must first obtain a U.S. visa. Visas are placed in the traveler’s passport, a travel document issued by the traveler’s country of citizenship. </li>

                <li>Certain international travelers may be eligible to travel to the United States without a visa if they meet the requirements for visa-free travel. The visa section of this website contains information on U.S. visas for foreign citizens seeking to travel to the United States. </li>
            </ul>
            </div>
                </div>
                
                <div class="col-sm-12 col-lg-4 solutionBox eqHeight innerWindow wow fadeInDown animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                
                <div class="solutiosBg"></div>
                <div class="solutionInner " >
            	<h4 class="isHd">After I apply</h4>
                <ul class="isLinks "> 
                <li>Get email updates about my application status</li>

            <li>Respond to a letter or email</li>
                
            <li>Using your new passport </li>
                </ul> 
                 
                    
            </div>
                </div>
                
                </div>
        </div>
</section>